<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
    <h1>Edit the comment below!!!!</h1>
    <form action="/comments/<%=comment.id%>?_method=PATCH" method="POST">
        <textarea name="comment" id="" cold="30" rows="10"><%=comment.comment%></textarea>
        <br>
        <button>Save Comment</button>
    </form>
 
</body>
</html>