<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dispaly Comments</title>
  </head>
  <body>
    <h1>Comments:</h1>
    <ul>
        <% for(let c of comments){ %> 
        <li><b> <%= c.username %></b>--<%=c.comment%><a href="/comments/<%=c.id%>">details</a></li>
        <% } %> 
    </ul>
<a href="/comments/new">Post a  new comment</a>
  </body>
</html>
