<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Comment</title>
  </head>
  <body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="POST">
      <label for="username">Enter Username:</label>
      <input type="text" id="username" name="username" placeholder="username" />
      <br />
      <br />
      <label for="comment">Enter Comment:</label>
      <br />
      <textarea
        type="text"
        id="comemnt"
        name="comment"
        cols="30"
        rows="6"
      ></textarea>

      <br />
      <br />
      <button>Add Comment</button>
     
    </form>
    <br>
    <a href="/comments">Go Back</a>
  </body>
</html>
