<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show comments</title>
</head>
<body>
    <h1>Showing comments with id : <%= comment.id%></h1>
    <h2><%= comment.comment%></h2>
    <a href="/comments">Back to Comments.</a>
    <br>
    <br>
    <a href="/comments/<%=comment.id%>/edit">Edit Comment</a>
    <br>
    <br>
    <form action="/comments/<%=comment.id%>?_method=DELETE" method="POST">
<button>Delete Comment</button>
    </form>
</body>
</html>