<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <h1>Product Details!!!!</h1>
    <li><%= idProduct.name%> - $<%= idProduct.price%></li>
   <a href="/products"><b>Go Back</b></a>
</body>
</html>