<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit the product here....!!!</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <label for="name"><b>Product Name :</b></label>
        <input name="name" id="name" type="text" placeholder="Enter product name" value="<%=product.name%>">
        <br>
        <br>
        <label for="price"><b>Product Price :</b></label>
        <input name="price" id="price" type="number" placeholder="Enter product price" value="<%=product.price%>">
        <br>
        <br>
        <label for="category"><b>Select Category :</b></label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
<br>
<br>
<button>Edit Product</button>
    </form>
</body>
</html>