<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Products</title>
  </head>
  <body>
    <h1>All Products</h1>
    <ul>
      <% for(let p of products){%>
      <li><b><%=p.name%></b>  <a href="/products/<%= p._id%>">:Show Details</a></li>
      
      <% }%>
    
    </ul>
  </body>
</html>
